/*Css Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Generals*/
body{
    font-family: 'Rubik Mono One', sans-serif;
    overflow-y: hidden;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.nav-bar li{
    list-style-type: none;
    display: inline-block;
}




/*Utilities*/

.full-page{
    height: 100vh;
    position: relative;
}


.bg-red{
    background-color: red;
}


.bg-green{
    background-color: green;
}


.bg-yellow{
    background-color: yellow;
}

.container{
    width: 600px;
   position: absolute;
   left: 50%;
   bottom: 50%;
   translate: -50% 50%;
}

/*Barra navigazione*/

.nav-bar{
    position: fixed;
    top:20px;
    right:10px;
    z-index: 1;
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-bar a{
    display: block;
    background-color: white;
    border-radius: 50%;
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px black;

    width: 40px;
    height: 40px;

    line-height: 40px;
    text-align: center;
    
}




/*Main*/

.text{
    text-align: center;
    font-size: 3rem;
    color:yellow;
}


.text.green{
    color:green;
}